<% if(post.photos && post.photos.length) { %>
<div class="post-media">
    <a href="<%- url_for(post.path) %>" rel="gallery_<%= post.id %>">
      <% if(post.photos.length === 1) { %>
        <img src="<%- url_for(post.photos[0]) %>" class="img-responsive" itemprop="image">
      <% } else { %>
        <div id="<%= post.id %>-slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% post.photos.forEach(function(photo, i) { %>
              <% let class = i === 0 ? 'active' : ''; %>
              <li data-target="#<%= post.id %>-slider" data-slide-to="<%= i %>" class="<%= class %>"></li>
            <% }); %>
          </ol>
    
          <div class="carousel-inner">
            <% post.photos.forEach(function(photo, i) { %>
              <div class="item next active left">
                  <img src="<%- url_for(photo) %>" alt="blog post with image" class="img-responsive">
              </div>
            <% }); %>
          </div>
        </div>
      %< } %>
    </a>
</div>
<% } %>
